<!-- Introduction Section -->
<header class="hero-section">
  <div class="hero-content">
    <div class="profile-info">
      <h1 class="name">Pushkal Mishra</h1>
      <p class="tagline">PhD in ECE at UCSD</p>
      
      <div class="bio">
        <p>I am a PhD student at <a href="https://ucsd.edu/">University of California San Diego (UCSD)</a> working in the innovative <a href="https://wcsng.ucsd.edu">Wireless Communication, Sensing and Networking Group (WCSNG)</a> advised by <a href="https://jacobsschool.ucsd.edu/faculty/profile?id=433">Prof Dinesh Bharadia</a>.</p>
        
        <p>I completed my undergraduate studies at <a href="https://iith.ac.in/">IIT Hyderabad</a> .</p>
        
        <p>At UC San Diego, I was extremely lucky to work with professors <a href="https://cseweb.ucsd.edu/~alchern/">Albert Chern</a> and <a href="https://cseweb.ucsd.edu/~ravir/">Ravi Ramamoorthi</a>. I did my bachelors in computer engineering at the <a href="https://uwaterloo.ca/">University of Waterloo</a>, where I was fortunate to be advised by professor <a href="https://cs.uwaterloo.ca/~c2batty/">Christopher Batty</a> at the <a href="https://uwaterloo.ca/computational-motion-group/">Computational Motion Group</a>.</p>
        
        <p>I received a silver medal at the <a href="https://www.ioaastrophysics.org/">International Olympiad on Astronomy and Astrophysics</a> in 2014 and <a href="https://betakit.com/heres-the-list-of-canadas-developer-30-under-30">Canada Developer 30 Under 30 Award</a> in 2018. I was credited for working on <a href="https://www.sidefx.com/docs/houdini/credits.html">Houdini by SideFX</a>, and two AAA games in 2020: <a href="https://youtu.be/3YUpzlI3dpA?t=83">Watch Dogs Legion by Ubisoft</a> and <a href="https://youtu.be/DkspHgt27Io?t=273">Call of Duty Black Ops: Cold War by Activision</a>.</p>
      </div>
      
      {% include sections/social_links.html %}
    </div>
    
    <div class="profile-image">
      <img src="images/pushkal25.jpeg" alt="Pushkal Mishra" class="avatar">
    </div>
  </div>
</header>